.container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
}

.container.left {
    padding: 2px 2px 2px 4px;
}

.container.right {
    padding: 2px 4px 2px 2px;
}

@supports not selector(::-webkit-scrollbar) {
    .container {
        padding-right: 12px;
    }
}

.search {
    display: block;
    margin: 0 auto;
    max-width: min(160px, calc(100% - 4px));
    align-self: center;
}

.fieldset {
    display: grid;
    grid-template-columns: 4fr 5fr 1fr;
    column-gap: 5px;
    row-gap: 20px;
    align-items: center;
    font-size: 12px;
}

.top-padding {
    margin-top: 15px;
}