.hexagon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pointy-top {
    aspect-ratio: 86.6 / 100;
}

.flat-top {
    aspect-ratio: 100 / 86.6;
}

.svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.size-xs {
    width: 36px;
}

.size-sm {
    width: 48px;
}

.size-md {
    width: 64px;
}

.mode-light {
    --hexagon-inset-active-fill-opacity: .08;
}

.mode-dark {
    --hexagon-inset-active-fill-opacity: .04;
}

.color-neutral {
    --hexagon-color: var(--color-neutral);
    --hexagon-color-dark: var(--color-neutral-800);
    --hexagon-color-light: var(--color-neutral-100);
}

.color-primary {
    --hexagon-color: var(--color-primary);
    --hexagon-color-dark: var(--color-primary-900);
    --hexagon-color-light: var(--color-primary-500);
}

.color-secondary {
    --hexagon-color: var(--color-secondary);
    --hexagon-color-dark: var(--color-secondary-900);
    --hexagon-color-light: var(--color-secondary-500);
}

.color-tertiary {
    --hexagon-color: var(--color-tertiary);
    --hexagon-color-dark: var(--color-tertiary-900);
    --hexagon-color-light: var(--color-tertiary-500);
}

.highlight-color-neutral {
    --hexagon-highlight-color: var(--color-neutral-500);
    --hexagon-highlight-color-lighter: var(--color-neutral-300);
    --hexagon-highlight-color-dark: var(--color-neutral-800);
}

.highlight-color-primary {
    --hexagon-highlight-color: var(--color-primary-500);
    --hexagon-highlight-color-lighter: var(--color-primary-300);
    --hexagon-highlight-color-dark: var(--color-primary-900);
}

.highlight-color-secondary {
    --hexagon-highlight-color: var(--color-secondary-500);
    --hexagon-highlight-color-lighter: var(--color-secondary-300);
    --hexagon-highlight-color-dark: var(--color-secondary-900);
}

.highlight-color-tertiary {
    --hexagon-highlight-color: var(--color-tertiary-500);
    --hexagon-highlight-color-lighter: var(--color-tertiary-300);
    --hexagon-highlight-color-dark: var(--color-tertiary-900);
}

.polygon-base,
.polygon-glow {
    stroke: var(--hexagon-color);
}

.polygon-glow {
    opacity: 0;
}

/* Ghost */
.variant-ghost .polygon-base {
    fill: none;
    stroke: transparent;
}

.variant-ghost.interactive:hover .polygon-base {
    fill: var(--hexagon-highlight-color-lighter);
    fill-opacity: 0.1;
}

.variant-ghost.interactive:active .polygon-base,
.variant-ghost.interactive.active .polygon-base {
    fill: var(--hexagon-highlight-color);
    fill-opacity: 0.14;
}

/* Fill */
.variant-fill .polygon-base {
    fill: var(--hexagon-color);
    fill-opacity: 1;
}

.variant-fill.interactive:hover .polygon-base {
    fill: var(--hexagon-highlight-color-lighter);
    stroke: var(--hexagon-highlight-color-lighter);
}

.variant-fill.interactive:active .polygon-base,
.variant-fill.interactive.active .polygon-base {
    fill: var(--hexagon-highlight-color);
    stroke: var(--hexagon-highlight-color);
}

/* Fill inverse */
.variant-fill-inverse .polygon-base {
    fill: var(--hexagon-color-dark);
    fill-opacity: 1;
}

.variant-fill-inverse.interactive:hover .polygon-base {
    fill: var(--hexagon-highlight-color-dark);
    stroke: var(--hexagon-highlight-color-lighter);
}

.variant-fill-inverse.interactive:active .polygon-base,
.variant-fill-inverse.interactive.active .polygon-base {
    fill: var(--hexagon-highlight-color-dark);
    stroke: var(--hexagon-highlight-color);
}

/* Fill translucent */
.variant-fill-translucent .polygon-base {
    fill: var(--hexagon-color);
    fill-opacity: 0.24;
}

.variant-fill-translucent.interactive:hover .polygon-base {
    stroke: var(--hexagon-highlight-color-lighter);
    fill: var(--hexagon-highlight-color-lighter);
    fill-opacity: 0.36;
}

.variant-fill-translucent.interactive:active .polygon-base,
.variant-fill-translucent.interactive.active .polygon-base {
    stroke: var(--hexagon-highlight-color);
    fill: var(--hexagon-highlight-color);
    fill-opacity: 0.48;
}

/* Outline */
.variant-outline.interactive:hover .polygon-base {
    stroke: var(--hexagon-highlight-color-lighter);
    fill: var(--hexagon-highlight-color-lighter);
    fill-opacity: 0.12;
}

.variant-outline.interactive:active .polygon-base,
.variant-outline.interactive.active .polygon-base {
    stroke: var(--hexagon-highlight-color);
    fill: var(--hexagon-highlight-color);
    fill-opacity: 0.24;
}

/* Inset */
.variant-inset.interactive:hover .polygon-base {
    stroke: var(--hexagon-highlight-color-lighter);
    fill: var(--hexagon-highlight-color-lighter);
    fill-opacity: 0.12;
}

.variant-inset.interactive:active .polygon-base,
.variant-inset.interactive.active .polygon-base {
    stroke: var(--hexagon-highlight-color);
    fill: var(--hexagon-highlight-color);
    fill-opacity: 0.24;
}

/* Glow styles */
.glow-style-glow:hover .polygon-glow {
    opacity: 1;
    filter: var(--hex-filter);
    stroke: var(--hexagon-highlight-color-lighter);
}

.glow-style-animate-borders-glow:hover .polygon-glow {
    opacity: 1;
    filter: var(--hex-filter);
    stroke: var(--hexagon-highlight-color-lighter);
    stroke-dasharray: 0 300;
    animation: border-glow 0.3s linear forwards;
}

@keyframes border-glow {
    from {
        stroke-dasharray: 0 300;
    }

    to {
        stroke-dasharray: 300 0;
    }
}