.machine {
    position: relative;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "top-toolbar top-toolbar top-toolbar"
        "left-toolbar . right-toolbar"
        "bottom-toolbar bottom-toolbar bottom-toolbar";
}

.machine > * {
    z-index: 0;
}

.top-toolbar {
    grid-area: top-toolbar;
    background-color: rgb(from var(--background-color) r g b / .92);
    height: 40px;
    border-bottom: 1px solid var(--secondary-color);
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgb(from var(--box-shadow-color) r g b / .4);
}

.left-toolbar {
    grid-area: left-toolbar;
    background-color: rgb(from var(--background-color) r g b / .92);
    width: 40px;
    border-right: 1px solid var(--primary-color);
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgb(from var(--box-shadow-color) r g b / .4);
}

.right-toolbar {
    grid-area: right-toolbar;
    background-color: rgb(from var(--background-color) r g b / .92);
    width: 50px;
    border-left: 1px solid var(--primary-color);
    box-sizing: border-box;
    box-shadow: -1px 1px 3px rgb(from var(--box-shadow-color) r g b / .4);
}

.bottom-toolbar {
    grid-area: bottom-toolbar;
    background-color: rgb(from var(--background-color) r g b / .92);
    height: 60px;
    border-top: 2px solid var(--primary-color);
    box-sizing: border-box;
    box-shadow: 1px -1px 3px rgb(from var(--box-shadow-color) r g b / .4);
}

@media screen and (min-width: 800px) {
    .machine {}
}

.divider {
    width: 100%;
    margin: 0;
}