.machine {
    background-color: var(--color-background);
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "top-toolbar top-toolbar top-toolbar"
        "left-toolbar . right-toolbar"
        "bottom-toolbar bottom-toolbar bottom-toolbar";
}

.machine>* {
    z-index: 0;
}

.toolbar {
    box-sizing: border-box;
}

.toolbar.top {
    grid-area: top-toolbar;
    height: 40px;
    border-bottom: 1px solid var(--color-secondary);
    box-shadow: 1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4);
    background-color: rgb(from var(--color-background) r g b / .82);
    backdrop-filter: blur(2px);
}

.toolbar.left {
    grid-area: left-toolbar;
    width: calc(100% - 24px);
    border-right: 1px solid var(--color-primary);
    /* box-shadow: 1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    align-content: start;
    pointer-events: none;
}

.toolbar.left * {
    pointer-events: auto;
}

.toolbar.left button {
    backdrop-filter: blur(2px);
}

.toolbar.right {
    grid-area: right-toolbar;
    width: 50px;
    border-left: 1px solid var(--color-primary);
    box-shadow: -1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4);
    background-color: rgb(from var(--color-background) r g b / .82);
    backdrop-filter: blur(2px);
}

.toolbar.bottom {
    grid-area: bottom-toolbar;
    height: 80px;
    border-top: 2px solid var(--color-primary);
    box-shadow: 1px -1px 3px rgb(from var(--color-box-shadow) r g b / .4);
    background-color: rgb(from var(--color-background) r g b / .82);
    backdrop-filter: blur(2px);
}

@media screen and (min-width: 800px) {
    .machine {}
}

.divider {
    width: 100%;
    margin: 0;
}