.machine {
    background-color: var(--color-background);
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "top-toolbar top-toolbar top-toolbar top-toolbar top-toolbar"
        "left-toolbar left-icons . right-icons right-toolbar"
        "bottom-toolbar bottom-toolbar bottom-toolbar bottom-toolbar bottom-toolbar";
    overflow: hidden;
}

.machine>* {
    z-index: 0;
}

.icons {
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
}

.icons>*,
.icons>* {
    pointer-events: auto;
}

.icons.left {
    grid-area: left-icons;
    margin-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6px;
    align-content: start;
}

.icons.right {
    grid-area: right-icons;
    margin-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    align-content: end;
}

.icon-button {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 8px 4px rgba(0, 0, 0, 0.06));
    opacity: 1;
    transition: opacity .2s ease-out;
}

.icons.left .icon-button:nth-child(even) {
    transform: translate(-7px, calc(50% + 3px));
}

.icons.right .icon-button:nth-child(odd) {
    transform: translate(6px, calc(-50% - 2px));
}

.toolbar {
    box-sizing: border-box;
}

.toolbar .content {
    background-color: rgb(from var(--color-background) r g b / .82);
    backdrop-filter: blur(2px);
}

.toolbar.top {
    grid-area: top-toolbar;
}

.toolbar.top .content {
    height: 40px;
    border-bottom: 1px solid var(--color-secondary);
    box-shadow: 1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4);
}

.toolbar.left,
.toolbar.right {
    overflow-x: hidden;
    overflow-y: auto;
}

.toolbar.left {
    grid-area: left-toolbar;
}

.toolbar.left .content {
    padding-right: 12px;
    border-right: 1px solid var(--color-neutral);
    box-shadow: 1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4);
}

.toolbar.right {
    grid-area: right-toolbar;
}

.toolbar.right .content {
    border-left: 1px solid var(--color-primary);
    box-shadow: -1px 1px 3px rgb(from var(--color-box-shadow) r g b / .4);
}

.toolbar.bottom {
    grid-area: bottom-toolbar;
}

.toolbar.bottom .content {
    height: 80px;
    border-top: 2px solid var(--color-primary);
    box-shadow: 1px -1px 3px rgb(from var(--color-box-shadow) r g b / .4);
}

@media screen and (min-width: 800px) {
    .machine {}
}

.divider {
    width: 100%;
    margin: 0;
}