.navbar {
    padding: 10px 20px;
    box-sizing: border-box;
    height: var(--app-navbar-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 0px 8px var(--box-shadow-color);
    transition: transform 250ms ease-in;

    @starting-style {
        transform: translateY(-100%);
    }
}

.footer {
    margin-top: auto;
    padding: 0 20px;
    height: var(--app-footer-height);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
    border-top: 1px solid var(--border-color);
    box-shadow: 0px 0px 8px var(--box-shadow-color);
    transition: transform 250ms ease-in;

    @starting-style {
        transform: translateY(100%);
    }
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
}