<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BitcountSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf</string>
		<string>BitcountSingle-Black.ttf</string>
		<string>BitcountSingle-Bold.ttf</string>
		<string>BitcountSingle-ExtraBold.ttf</string>
		<string>BitcountSingle-ExtraLight.ttf</string>
		<string>BitcountSingle-Light.ttf</string>
		<string>BitcountSingle-Medium.ttf</string>
		<string>BitcountSingle-Regular.ttf</string>
		<string>BitcountSingle-SemiBold.ttf</string>
		<string>BitcountSingle-Thin.ttf</string>
		<string>BitcountSingle_Cursive-Black.ttf</string>
		<string>BitcountSingle_Cursive-Bold.ttf</string>
		<string>BitcountSingle_Cursive-ExtraBold.ttf</string>
		<string>BitcountSingle_Cursive-ExtraLight.ttf</string>
		<string>BitcountSingle_Cursive-Light.ttf</string>
		<string>BitcountSingle_Cursive-Medium.ttf</string>
		<string>BitcountSingle_Cursive-Regular.ttf</string>
		<string>BitcountSingle_Cursive-SemiBold.ttf</string>
		<string>BitcountSingle_Cursive-Thin.ttf</string>
		<string>BitcountSingle_Roman-Black.ttf</string>
		<string>BitcountSingle_Roman-Bold.ttf</string>
		<string>BitcountSingle_Roman-ExtraBold.ttf</string>
		<string>BitcountSingle_Roman-ExtraLight.ttf</string>
		<string>BitcountSingle_Roman-Light.ttf</string>
		<string>BitcountSingle_Roman-Medium.ttf</string>
		<string>BitcountSingle_Roman-Regular.ttf</string>
		<string>BitcountSingle_Roman-SemiBold.ttf</string>
		<string>BitcountSingle_Roman-Thin.ttf</string>
		<string>Michroma-Regular.ttf</string>
		<string>Quantico-Bold.ttf</string>
		<string>Quantico-BoldItalic.ttf</string>
		<string>Quantico-Italic.ttf</string>
		<string>Quantico-Regular.ttf</string>
		<string>Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf</string>
		<string>SpaceGrotesk-VariableFont_wght.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>SpaceGrotesk-Light.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-SemiBold.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>Syncopate-Bold.ttf</string>
		<string>Syncopate-Regular.ttf</string>
		<string>SyneMono-Regular.ttf</string>
		<string>UbuntuMono-Bold.ttf</string>
		<string>UbuntuMono-BoldItalic.ttf</string>
		<string>UbuntuMono-Italic.ttf</string>
		<string>UbuntuMono-Regular.ttf</string>
	</array>
</dict>
</plist>
