.button {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    padding: 0;
    border: 1px solid var(--color-neutral-400);
    border-radius: 0;
    background-color: var(--color-button-value);
    cursor: pointer;
}

.button:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.selected {
    box-shadow: 0 0 0 2px var(--color-neutral-900), 0 0 0 3px var(--color-neutral-500);
}

.size-xs {
    width: 18px;
    height: 18px;
}

.size-sm {
    width: 22px;
    height: 22px;
}

.size-md {
    width: 26px;
    height: 26px;
}
