.container {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1;
}

.control {
    flex: 1;
    min-width: 0;
}

.size-xs {
    height: 18px;
}

.size-sm {
    height: 24px;
}

.size-md {
    height: 32px;
}

.container > button {
    height: 100%;
}
