.top-bar {
    height: var(--app-top-bar-height);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 0px 8px var(--box-shadow-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    display: flex;
    align-items: center;
    gap: 6px;
}

.section.left {
    justify-content: flex-start;
}

.section.right {
    justify-content: flex-end;
}