.p,
.span,
.label,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    color: var(--color-text);
}

.bold {
    font-weight: bold;
}

.shadow {
    text-shadow: -1px 0px 1px rgb(from var(--typography-color-dark) r g b / .5);
}

.p,
.span,
.label {
    font-weight: 400;
}

.p {
    font-size: 14px;
}

.color-primary {
    --typography-color-dark: var(--color-primary-900);
    color: var(--color-primary);
}

.color-secondary {
    --typography-color-dark: var(--color-secondary-900);
    color: var(--color-secondary);
}

.color-tertiary {
    --typography-color-dark: var(--color-tertiary-900);
    color: var(--color-tertiary);
}

.color-neutral {
    --typography-color-dark: var(--color-neutral-800);
    color: var(--color-neutral);
}

.font-default {
    font-family: var(--font-default);
}

.font-numeric {
    font-family: var(--font-numeric);
}

.font-special-messaging {
    font-family: var(--font-special-messaging);
}

.font-neon-header {
    font-family: var(--font-neon-header);
}

.font-neon-text {
    font-family: var(--font-neon-text);
}

.margin-top-xs {
    margin-top: var(--spacing-xs);
}

.margin-top-sm {
    margin-top: var(--spacing-sm);
}

.margin-top-md {
    margin-top: var(--spacing-md);
}

.margin-top-lg {
    margin-top: var(--spacing-lg);
}

.margin-top-xl {
    margin-top: var(--spacing-xl);
}

.margin-bottom-xs {
    margin-bottom: var(--spacing-xs);
}

.margin-bottom-sm {
    margin-bottom: var(--spacing-sm);
}

.margin-bottom-md {
    margin-bottom: var(--spacing-md);
}

.margin-bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.margin-bottom-xl {
    margin-bottom: var(--spacing-xl);
}

.margin-left-xs {
    margin-left: var(--spacing-xs);
}

.margin-left-sm {
    margin-left: var(--spacing-sm);
}

.margin-left-md {
    margin-left: var(--spacing-md);
}

.margin-left-lg {
    margin-left: var(--spacing-lg);
}

.margin-left-xl {
    margin-left: var(--spacing-xl);
}

.margin-right-xs {
    margin-right: var(--spacing-xs);
}

.margin-right-sm {
    margin-right: var(--spacing-sm);
}

.margin-right-md {
    margin-right: var(--spacing-md);
}

.margin-right-lg {
    margin-right: var(--spacing-lg);
}

.margin-right-xl {
    margin-right: var(--spacing-xl);
}