.container {
    position: absolute;
    inset: 0;
    touch-action: none;
}

.container.blinking:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    border: 4px solid var(--blink-border-color);
    animation: global(blink) 1.6s infinite;
}