/* Listed to enable autocomplete. Vars are set in js */
:root {
  --background-color: #000;
  --border-color: #66666e;
  --box-shadow-color: #ffffff;
  --divider-color: #fff;
  --text-color: #fff;
  --error-color: #fff;
  --warning-color: #fff;
  --success-color: #fff;
  --info-color: #fff;
}
