.container {
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    max-width: 300px;
    overflow-y: auto;
    max-height: calc(100dvh - 140px);
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
}

.section > * {
    box-sizing: border-box;
    max-width: calc(50% - 5px);
}

.top-margin {
    margin-top: 15px;
}