.container {
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0, calc(-100% - 0px));
    align-items: end;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    pointer-events: none;
}
