.button {
    line-height: 1.1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.interactive {
    cursor: pointer;
}

.mode-light {
    --hl-bg-opacity: .08;
}

.mode-dark {
    --hl-bg-opacity: .04;
}

.color-neutral {
    color: var(--color-neutral);
    --color-bg: var(--color-neutral-500);
    --color-shadow: var(--color-neutral-700);
}

.color-neutral .icon {
    color: var(--color-neutral);
    stroke: var(--color-neutral);
    fill: var(--color-neutral);
}

.color-primary {
    color: var(--color-primary);
    --color-bg: var(--color-primary-500);
    --color-shadow: var(--color-primary-700);
}

.color-primary .icon {
    color: var(--color-primary);
    stroke: var(--color-primary);
    fill: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
    --color-bg: var(--color-secondary-500);
    --color-shadow: var(--color-secondary-700);
}

.color-secondary .icon {
    color: var(--color-secondary);
    stroke: var(--color-secondary);
    fill: var(--color-secondary);
}

.color-tertiary {
    color: var(--color-tertiary);
    --color-bg: var(--color-tertiary-500);
    --color-shadow: var(--color-tertiary-700);
}

.color-tertiary .icon {
    color: var(--color-tertiary);
    stroke: var(--color-tertiary);
    fill: var(--color-tertiary);
}

.highlight-neutral {
    --hl: var(--color-neutral);
}

.highlight-primary {
    --hl: var(--color-primary);
}

.highlight-secondary {
    --hl: var(--color-secondary);
}

.highlight-tertiary {
    --hl: var(--color-tertiary);
}

.mode-light.highlight-neutral {
    --hl-inset: var(--color-neutral-600);
    --hl-bg: var(--color-neutral-500);
    --hl-shadow: var(--color-neutral-700);
}

.mode-dark.highlight-neutral {
    --hl-inset: var(--color-neutral-300);
    --hl-bg: var(--color-neutral-300);
}

.mode-light.highlight-primary {
    --hl-inset: var(--color-primary-600);
    --hl-bg: var(--color-primary-500);
    --hl-shadow: var(--color-primary-700);
}

.mode-dark.highlight-primary {
    --hl-inset: var(--color-primary-300);
    --hl-bg: var(--color-primary-300);
}

.mode-light.highlight-secondary {
    --hl-inset: var(--color-secondary-600);
    --hl-bg: var(--color-secondary-500);
    --hl-shadow: var(--color-secondary-700);
}

.mode-dark.highlight-secondary {
    --hl-inset: var(--color-secondary-300);
    --hl-bg: var(--color-secondary-300);
}

.mode-light.highlight-tertiary {
    --hl-inset: var(--color-tertiary-600);
    --hl-bg: var(--color-tertiary-500);
    --hl-shadow: var(--color-tertiary-700);
}

.mode-dark.highlight-tertiary {
    --hl-inset: var(--color-tertiary-300);
    --hl-bg: var(--color-tertiary-300);
}

.size-md {
    font-size: 14px;
    height: 32px;
    padding: 6px 16px;
    gap: 10px;
}

.only-icon-md {
    padding: 6px 5px;
}

.size-sm {
    font-size: 14px;
    height: 24px;
    padding: 2px 16px;
    gap: 6px;
}

.only-icon-sm {
    padding: 2px 3px;
}

.size-xs {
    height: 18px;
    font-size: 12px;
    padding: 0px 16px;
    gap: 4px;
}

.only-icon-xs {
    padding: 0px 2px;
}

.variant-ghost {
    background-color: transparent;
    border: none;
}

.variant-ghost:hover {
    color: var(--hl-inset);
}

.variant-ghost:hover .icon,
.variant-ghost:active .icon,
.variant-ghost.active .icon {
    color: var(--hl-inset);
    stroke: var(--hl-inset);
    fill: var(--hl-inset);
}

.variant-ghost:active,
.variant-ghost.active {
    color: var(--hl-inset);
    text-shadow: 0 0 12px rgb(from var(--hl-inset) r g b / .45);
}

.variant-ghost:active .icon,
.variant-ghost.active .icon {
    filter: drop-shadow(0 0 12px rgb(from var(--hl-inset) r g b / .45));
}

.variant-fill-translucent {
    border: none;
}

.variant-fill-translucent.color-neutral {
    background-color: rgb(from var(--color-neutral) r g b / .24);
}

.variant-fill-translucent.color-primary {
    background-color: rgb(from var(--color-primary) r g b / .24);
}

.variant-fill-translucent.color-secondary {
    background-color: rgb(from var(--color-secondary) r g b / .24);
}

.variant-fill-translucent.color-tertiary {
    background-color: rgb(from var(--color-tertiary) r g b / .24);
}

.variant-fill-translucent:hover {
    color: var(--hl-inset);
    background-color: rgb(from var(--hl) r g b / .36);
}

.variant-fill-translucent:hover .icon,
.variant-fill-translucent:active .icon,
.variant-fill-translucent.active .icon {
    color: var(--hl-inset);
    stroke: var(--hl-inset);
    fill: var(--hl-inset);
}

.variant-fill-translucent:active,
.variant-fill-translucent.active {
    color: var(--hl-inset);
    background-color: rgb(from var(--hl) r g b / .48);
}

.variant-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.variant-outline.color-neutral {
    border-color: var(--color-neutral);
}

.variant-outline.color-primary {
    border-color: var(--color-primary);
}

.variant-outline.color-secondary {
    border-color: var(--color-secondary);
}

.variant-outline.color-tertiary {
    border-color: var(--color-tertiary);
}

.variant-outline:hover {
    color: var(--hl-inset);
    border-color: var(--hl-inset);
    background-color: rgb(from var(--hl) r g b / .12);
}
.variant-outline:hover .icon,
.variant-outline:active .icon,
.variant-outline.active .icon {
    color: var(--hl-inset);
    stroke: var(--hl-inset);
    fill: var(--hl-inset);
}

.variant-outline:active,
.variant-outline.active {
    color: var(--hl-inset);
    border-color: var(--hl-inset);
    background-color: rgb(from var(--hl) r g b / .24);
    box-shadow: 0px 0px 4px rgb(from var(--hl) r g b / .3),
        0px 0px 20px rgb(from var(--hl) r g b / .6);
}

.variant-inset {
    border: 1px inset rgb(from var(--color-bg) r g b / .3);
    background-color: transparent;
}

.variant-inset.mode-light {
    background-color: rgb(from var(--color-bg) r g b / .04);
    box-shadow:
        rgb(from var(--color-shadow) r g b / .18) 4px 4px 8px inset,
        rgb(from var(--color-shadow) r g b / .04) -2px -2px 6px inset,
        rgba(255, 255, 255, .35) -2px -2px 4px inset;
}

.variant-inset.mode-dark {
    border-color: transparent;
    box-shadow:
        rgba(0, 0, 0, .80) 4px 4px 8px inset,
        rgba(255, 255, 255, .08) -2px -2px 4px inset;
}

.variant-inset:hover {
    color: var(--hl-inset);
}

.variant-inset:hover .icon,
.variant-inset:active .icon,
.variant-inset.active .icon {
    color: var(--hl-inset);
    stroke: var(--hl-inset);
    fill: var(--hl-inset);
}

.variant-inset:active,
.variant-inset.active {
    color: var(--hl-inset);
    background-color: rgb(from var(--hl-bg) r g b / var(--hl-bg-opacity));
}

.variant-inset.mode-light:active,
.variant-inset.mode-light.active {
    box-shadow:
        rgb(from var(--hl-shadow) r g b / .18) 4px 4px 8px inset,
        rgb(from var(--hl-shadow) r g b / .04) -2px -2px 4px inset,
        rgba(255, 255, 255, .25) -2px -2px 3px inset;
    border-color: rgb(from var(--hl-bg) r g b / .3);
    text-shadow: 0 0 12px rgb(from var(--hl-inset) r g b / 0.4);
}

.variant-inset.mode-light:active .icon,
.variant-inset.mode-light.active .icon {
    filter: drop-shadow(0 0 12px rgb(from var(--hl-inset) r g b / .4));
}

.variant-inset.mode-dark:active,
.variant-inset.mode-dark.active {
    text-shadow: 0 0 12px rgb(from var(--hl-inset) r g b / .85);
    box-shadow:
        rgba(0, 0, 0, .80) 4px 4px 8px inset,
        rgba(0, 0, 0, .24) -2px -2px 4px inset;
}

.variant-inset.mode-dark:active .icon,
.variant-inset.mode-dark.active .icon {
    filter: drop-shadow(0 0 12px rgb(from var(--hl-inset) r g b / .85));
}

.corners-square {
    border-radius: 0;
}

.corners-rounded.size-md {
    border-radius: 6px;
}

.corners-rounded.size-sm,
.corners-rounded.size-xs {
    border-radius: 4px;
}

.corners-circle.size-md {
    border-radius: 16px;
}

.corners-circle.size-sm {
    border-radius: 12px;
}

.corners-circle.size-xs {
    border-radius: 10px;
}