.anchor {
    position: absolute;
    top: 46px;
    z-index: 3;
    pointer-events: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.rail {
    width: max-content;
    pointer-events: auto;
}

.content {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 16px;
}

.content a {
    font-size: 10px;
    line-height: 12px;
}

.short-text {
    display: none;
}

@media (max-height: 499px) {
    .full-text {
        display: none;
    }

    .short-text {
        display: inline;
    }
}
