.anchor {
    position: absolute;
    top: 46px;
    z-index: 1;
    pointer-events: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    background-color: rgb(from var(--color-background) r g b / .87);
    padding: 0;
    corner-shape: bevel;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--color-neutral);
    width: max-content;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.container a {
    font-size: 10px;
    line-height: 12px;
}

.short-text {
    display: none;
}

@media (max-height: 499px) {
    .full-text {
        display: none;
    }

    .short-text {
        display: inline;
    }
}
