.player {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 15px 10px 15px;
    box-sizing: border-box;
}

.player.sm {
    flex-direction: column;
}

.slider {
    flex: 1;
    display: flex;
    column-gap: 18px;
    align-items: center;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.buttons > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}