.container {
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.top-margin {
    margin-top: 15px;
}