.color {
    display: grid;
    gap: 4px;
}

.name {
    font-size: 14px;
}

.row,
.palette {
    display: flex;
    align-items: center;
}

.palette {
    gap: 0;
}

.action {
    display: flex;
    margin-left: 20px;
}

.box {
    width: 55px;
    padding: 4px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 2px;
    font-size: 12px;
}

.rgb-text {
    display: block;
    font-size: 7px;
}

.labels {
    justify-content: end;
    padding-right: 6px;
    text-align: right;
    font-weight: 700;
}
