.palette {
    display: flex;
    align-items: center;
}

.box {
    width: 55px;
    padding: 5px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
}

.rgb-text {
    display: block;
    font-size: 8px;
}