.container {
    flex: 1;
    display: flex;
    column-gap: 18px;
    align-items: center;
}

.slider-container {
    flex: 1;
    display: grid;
    position: relative;
    padding-top: 16px;
    margin-top: 16px;
}
