.container {
    flex: 1;
    display: grid;
    position: relative;
    row-gap: 15px;
    margin-top: 10px;
}

.container.lg {
    margin-top: -5px;
}

.slider-container {
    position: relative;
    padding: 8px 0 4px 0;
}