.slider-markers {
    height: 0;
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    margin: 0 auto;
}

.image-marker {
    --marker-thumb-size: 8px;
    --marker-width: 2px;
    --marker-border-width: 2px;
    --marker-border-color: var(--color-tertiary-400);
    --marker-color: var(--color-tertiary);
    --marker-highlight-color: var(--color-tertiary-800);

    position: absolute;
    height: 46px;
    top: 5px;
    width: var(--marker-width);
    background-color: var(--marker-color);
    cursor: grab;
}

.image-marker:hover,
.image-marker:focus,
.image-marker.highlight {
    background-color: var(--marker-highlight-color);
    border-left: var(--marker-border-width) solid var(--marker-border-color);
    border-right: var(--marker-border-width) solid var(--marker-border-color);
}

.image-marker:hover::before,
.image-marker:hover::after,
.image-marker:focus::before,
.image-marker:focus::after,
.image-marker.highlight::before,
.image-marker.highlight::after {
    border: var(--marker-border-width) solid var(--marker-border-color);
}

.image-marker:hover,
.image-marker:focus,
.image-marker.highlight {
    transform: translateX(calc(-1 * var(--marker-border-width)));
}

.image-marker::after,
.image-marker::before {
    content: '';
    position: absolute;
    left: calc(var(--marker-width) / 2);
    background-color: var(--marker-color);
}

.image-marker::after {
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: var(--marker-thumb-size);
    height: var(--marker-thumb-size);
}

.image-marker::before {
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 4px;
    height: 2px;
}

.dragging {
    opacity: 0.5;
    pointer-events: none;
}

.drag-marker {
    pointer-events: none;
}