.curve-middle {
    background-color: var(--toolbar-background-color);
    border-top: 2px solid var(--color-primary);
    box-sizing: border-box;
    flex: 1;
    z-index: -1;
    height: 100%;
}

.curve-spacer {
    height: 0px;
    border-bottom: 2px solid var(--color-primary);
}

.curves-container {
    position: relative;
    height: var(--curve-size);
    padding: 4px var(--curve-size) 0 var(--curve-size);
    box-sizing: border-box;
    display: flex;
    margin-bottom: 0px;
    pointer-events: all;
}

.curves {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}